/* Make author and topic dropdowns side by side */
/* .dropdowns {
  display: flex;
  gap: 1rem;
}

#author-select, #topic-select {
  flex: 1;
  padding: 0.8rem;
  font-size: 1rem;
  margin-bottom: 1rem;
} */
 
#author-select, #topic-select {
    flex: 1;
    padding: 0.8rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 50%;
}